#configuração de dispositivos!
#Tue Sep 18 14:38:49 BRT 2012
largura=300
ativarAcionamento=0
codec=4
altura=250
ativarDispositivos=0
campanhia=0
alteracaoAmbiente=0
reconhecerFace=1
sensibilidadeMovimento=23
face=0
corpo=0
olhos=0
iniciarSistema=1
tempoControleAutomatico=1
objetos=0
gravarVideo=1
intervaloProcessamento=7
movimento=0
alarme=mov_Alarme_1.mp3
