<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/eletrovision</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">false</property>
    <property name="hibernate.connection.pool_size">10</property>
	<mapping class="entidades.acesso.bean.AcessoBean"/>
	<mapping class="entidades.acionamento.bean.AcionamentoBean"/>
	<mapping class="entidades.agendarTarefas.bean.AgendarTarefasBean"/>
	<mapping class="entidades.area.bean.AreaBean"/>
	<mapping class="entidades.autorizacao.bean.AutorizacaoBean"/>
	<mapping class="entidades.camera.bean.CameraBean"/>
	<mapping class="entidades.configCamera.bean.ConfigCameraBean"/>
	<mapping class="entidades.dispositivo.bean.DispositivoBean"/>
	<mapping class="entidades.dispositivoEletrico.bean.DispositivoEletricoBean"/>
	<mapping class="entidades.email.bean.EmailBean"/>
	<mapping class="entidades.endereco.bean.EnderecoBean"/>
	<mapping class="entidades.itemAcionamento.bean.ItemAcionamentoBean"/>
	<mapping class="entidades.logAcoes.bean.LogAcoesBean"/>
	<mapping class="entidades.marca.bean.MarcaBean"/>
	<mapping class="entidades.mensagem.bean.MensagemBean"/>
	<mapping class="entidades.modulo.bean.ModuloBean"/>
	<mapping class="entidades.moduloAcionamento.bean.ModuloAcionamentoBean"/>
	<mapping class="entidades.movimento.bean.MovimentoBean"/>
	<mapping class="entidades.pessoa.bean.PessoaBean"/>
	<mapping class="entidades.predio.bean.PredioBean"/>
	<mapping class="entidades.telefone.bean.TelefoneBean"/>
	<mapping class="entidades.usuario.bean.UsuarioBean"/>
	<mapping class="entidades.acaoAgendamento.bean.AcaoAgendamentoBean"/>
	<mapping class="entidades.configPessoa.bean.ConfigPessoaBean"/>
	<mapping class="entidades.configPredio.bean.ConfigPredioBean"/>
  </session-factory>
</hibernate-configuration>

